// ტეგები
body{
	color: $cbase;
	font-size: 12px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(#000, 0);
	background-color: $clight;
}
a{
	color: $ccorp;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $cbase;
	}
	&:focus{
		color: $cbase;
	}
}
// ტეგები
// ფორმები
label{
	font-family: $ffbase;
	sup{
		margin-left: 5px;
		color: $cdanger;
	}
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea{
	padding: 0 15px;
	color: $cbase;
	font-family: $ffbase;
	background-color: $clight;
	border: 1px solid $cline;
	border-radius: 5px;
	&:focus{
		background-color: transparent;
		border-color: $ccorp;
	}
	&:disabled{
		background-color: $cline;
		border: 1px solid $cgray;
		cursor: no-drop;
	}
}
textarea{
	padding-top: 15px;
	padding-bottom: 15px;
}
a.gilaki,
button.gilaki{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 40px;
	padding: 0 25px;
	color: $cwhite;
	font-family: $ffmain;
	text-align: center;
	background-color: $ccorp;
	border-radius: 5px;
	&.green{
		color: $cwhite !important;
		background-color: $csuccess;
		svg{
			color: $cwhite !important;
		}
	}
	&.icon{
		padding-left: 17px;
	}
	&.full{
		width: 100%;
	}
	&.light{
		color: $cbase;
		background-color: $clight;
		border: 1px solid $cline;
	}
	svg{
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}
	&:hover{
		background-color: $cbase;
		&.light{
			color: $cwhite;
			border-color: transparent;
		}
	}
}
::placeholder{
	color: $cread;
	font-family: $ffbase;
}
div.artform_wrap{
	background-color: $clight;
	&.artradio{
		transition: all 0.4s ease;
		&:before{
			background-color: $cwhite;
		}
		&.checked{
			background-color: $ccorp;
		}
		&.disabled{
			background-color: $cwhite;
			border: 1px solid $clight;
			&.checked{
				&:before{
					background-color: $clight;
				}
			}
		}
	}
	&.artchecker{
		border: 1px solid $cline;
		transition: all 0.4s ease;
		&:before,
		&:after{
			background-color: $cwhite;
		}
		&.checked{
			border: 1px solid transparent;
			background-color: $ccorp;
		}
		&.disabled{
			background-color: $cwhite;
			border: 1px solid $clight;
			&.checked{
				&:before,
				&:after{
					background-color: $clight;
				}
			}
		}
	}
}
span.select2{
	width: 100% !important;
	span.selection{
		span.select2-selection{
			background-color: $clight;
			border: 1px solid $cline;
			span.select2-selection__rendered{
				color: $cbase;
				span.select2-selection__placeholder{
					color: $cread;
				}
				span.select2-selection__clear{
					display: flex;
					align-items: flex-start;
					padding-top: 8px;
					color: $cread;
					font-weight: normal;
					line-height: 1;
				}
			}
			span.select2-selection__arrow{
				&:before,
				&:after{
					background-color: $cbase;
				}
			}
		}
	}
}
span.select2-container{
	span.select2-dropdown{
		background-color: $clight;
		border: 1px solid $cline;
		border-top: none;
		border-radius: 0 0 5px 5px;
		overflow: hidden;
		span.select2-results{
			ul{
				li{
					padding-left: 15px;
					&.select2-results__option--highlighted{
						background-color: $cbase;
					}
				}
			}
		}
	}
}
div.file_uploader{
	label{
		color: $cbase;
		background-color: $clight;
		span{
			color: $cread;
		}
		strong{
			color: $cwhite;
			background-color: $ccorp;
		}
	}
}
// ფორმები
// რუკა
div.map{
	width: 100%;
	height: 600px;
	border-radius: 5px;
}
// რუკა
div.modal_overlay{
	@extend .trans-no;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($cblack, 0.8);
	z-index: 400;
}
div.modal{
	@extend .trans-no-all;
	display: none;
	position: fixed;
	width: 620px;
	left: 50%;
	top: 50vh;
	margin-bottom: 0;
	padding: 30px;
	transform: translate(-50%, -50%);
	max-height: calc(100% - 40px);
	overflow-y: auto;
	z-index: 500;
	@media(max-width: 768px){
		width: 290px;
		padding: 20px;
	}
	div.close{
		@extend .flex;
		position: absolute;
		width: 25px;
		height: 25px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		z-index: 2;
		&:hover{
			color: $ccorp;
		}
		svg{
			width: 20px;
		}
	}
	h1.modal_title{
		margin-bottom: 20px;
		padding-bottom: 10px;
		font-size: 15px;
		font-family: $ffmain;
		font-weight: 700;
		border-bottom: 1px solid $cline;
	}
	div.modal_content{
		div.modal-crop-img{
			*{
				transition: none !important;

				&:before,
				&:after {
					transition: none !important;
				}
			}
			.frame{
				min-height: 250px;
			}
			img{
				max-width: 100%;
			}
			.crop-controls{
				display: flex;
				justify-content: center;
				background-color: $cdark;
				a{
					@extend .flex;
					width: 40px;
					height: 40px;
					color: #fff;
					svg{
						width: 18px;
					}
				}
			}
		}
		div.img_wrapper{
			height: 360px;
			overflow-y: auto;
			&::-webkit-scrollbar {
			    width: 0px;
			    background: transparent;
			}
			img{
				width: 100%;
				object-fit: cover;
			}
			.point{
				position: absolute;
				color: #fff;
				z-index: 10;
				cursor: pointer;
			}
		}
		.img_footer{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.img_info{
			margin-top: 8px;
			span{
				display: block;
			}
			strong{
				font-weight: 400;
			}
		}
		form{
			div.form_submit{
				margin-bottom: 0;
				button.gilaki{
					margin-bottom: 0;
				}
			}
		}
		div.delete_prompt{
			display: flex;
			justify-content: center;
			a,
			button{
				height: 40px;
				margin: 0 5px;
				background-color: $cdanger;
				&:hover{
					background-color: $cbase;
				}
				&.no{
					color: $cmain;
					background-color: transparent;
					&:hover{
						color: $cbase;
					}
				}
			}
		}
		div.pages_listing{
			max-height: 400px;
			overflow: auto;
			form#search_in_reference{
				margin-bottom: 20px;
				*{
					transition: all 0.4s ease;
				}
				button[type="button"]{
					position: absolute;
					top: 7px;
					right: 7px;
					color: $ccorp;
					cursor: pointer;
				}
			}
			div.pages_listing{
				max-height: none;
				overflow: visible;
			}
			ul{
				@extend .no-list;
				li{
					margin-bottom: 5px;
					div.page_item{
						display: flex;
						align-items: center;
						a.page_icon{
							@extend .flex;
							width: 25px;
							height: 25px;
							margin-right: 5px;
							color: $cmain;
							background-color: $clight;
							border-radius: 50%;
							&:hover{
								color: $ccorp;
								background-color: $cline;
							}
							&:focus{
								color: $cwhite;
								background-color: $ccorp;
							}
							svg{
								width: 15px;
							}
						}
						a.page_name{
							flex: 1;
							display: flex;
							align-items: center;
							justify-content: space-between;
							height: 40px;
							padding: 0 15px;
							color: $cbase;
							background-color: $clight;
							border-radius: 5px;
							em{
								color: $cread;
								font-size: 10px;
							}
							&:hover{
								color: $cwhite;
								background-color: $ccorp;
							}
						}
					}
					ul{
						margin: 5px 0 0 30px;
					}
				}
			}
		}
	}
}
.widget{
	margin-bottom: 30px;
	padding: 20px;
	background-color: $cwhite;
	border-radius: 5px;
	@media(max-width: 1400px){
		padding: 15px;
	}
	&.light{
		box-shadow: 0 1px 15px rgba($cblack, 0.05);
	}
	&.medium{
		box-shadow: 0 10px 25px rgba($cblack, 0.05);
	}
}
div.sqema{
	height: 100vh;
	display: flex;
	div.main_wrap{
		flex: 1;
		margin: 0 50px 0 340px;
		z-index: 3;
		@media(max-width: 1200px){
			margin: 0 20px;
		}
	}
}
div.form_wrap{
	display: flex;
	justify-content: center;
	form{
		min-width: 500px;
		@media(max-width: 600px){
			width: 100%;
			min-width: 50px;
		}
		div.tabs{
			ul{
				@extend .no-list;
				display: flex;
				margin-bottom: 30px;
				@media(max-width: 576px){
					flex-direction: column;
				}
				li{
					flex: 1;
					@media(max-width: 576px){
						margin-bottom: 5px;
					}
					label{
						flex: 1;
						@extend .flex;
						height: 40px;
						margin: 0;
						padding: 0 15px;
						font-size: 14px;
						font-family: $ffmain;
						text-align: center;
						border: 1px solid $cline;
					}
					input[type="radio"]{
						width: 15px;
						height: 15px;
						position: absolute;
						left: 0;
						top: 0;
						visibility: hidden;
						&:checked{
							&+label{
								color: $cwhite;
								background-color: $ccorp;
								border-color: $ccorp;
							}
						}
					}
					&:first-child{
						label{
							border-radius: 5px 0 0 5px;
							@media(max-width: 576px){
								border-radius: 5px;
							}
						}
					}
					&:last-child{
						label{
							border-radius: 0 5px 5px 0;
							@media(max-width: 576px){
								border-radius: 5px;
							}
						}
					}
				}
			}
		}
	}
}
div.form_double{
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	@media(max-width: 600px){
		display: flex;
		flex-direction: column;
	}
	&.page{
		display: none;
	}
}
h3.form_sub_title{
	margin-bottom: 15px;
	padding-bottom: 7px;
	font-size: 14px;
	font-family: $ffmain;
	font-weight: 700;
	border-bottom: 1px solid $cline;
}
div.form_item{
	@extend .trans-no;
	margin-bottom: 20px;
	&.page{
		display: none;
	}
	&.w120{
		width: 120px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&.w140{
		width: 140px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&.w160{
		width: 160px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&.w180{
		width: 180px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&.w200{
		width: 200px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&.w350{
		width: 350px;
		@media(max-width: 992px){
			width: 100%;
		}
	}
	div.time{
		display: grid;
		grid-template-columns: 50% 10% 40%;
		svg{
			position: absolute;
			left: 13px;
			top: 8px;
			width: 15px;
			color: $ccorp;
		}
		input{
			text-align: center;
			&.hour{
				padding-left: 30px;
			}
		}
		div{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	div.form_double_inner{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: calc(50% - 10px) calc(50% - 10px);
		&.left-60{
			grid-template-columns: calc(60% - 10px) calc(40% - 10px);
		}
		&.left-70{
			grid-template-columns: calc(70% - 10px) calc(30% - 10px);
		}
		&.right-60{
			grid-template-columns: calc(40% - 10px) calc(60% - 10px);
		}
		&.right-70{
			grid-template-columns: calc(30% - 10px) calc(70% - 10px);
		}
	}
	div.answer{
		display: flex;
		align-items: center;
		svg{
			margin-right: 15px;
			width: 15px;
			height: 15px;
			color: $ccorp;
			cursor: pointer;
		}
		input{
			flex: 1;
			width: auto;
		}
		div.correct{
			display: flex;
			width: 160px;
			margin-left: 15px;
			margin-top: 10px;
			div.artchecker{
				margin-right: 5px;
			}
			span{
				padding-top: 5px;
			}
		}
	}
	div.error_message{
		display: none;
		margin-left: 5px;
		margin-top: 5px;
		color: $cdanger;
		font-size: 10px;
	}
	a.delete{
		@extend .flex;
		position: absolute;
		right: -35px;
		top: 8px;
		width: 25px;
		height: 25px;
		border-radius: 20px;
		color: $cwhite;
		background-color: $cdanger;
		@media(max-width: 640px){
			right: 10px;
		}
		&:hover{
			background-color: $cbase;
		}
		svg{
			width: 13px;
			height: 13px;
		}
	}
	&.checkers_item{
		div.checkers_wrap{
			display: flex;
			label{
				margin-left: 10px;
				margin-bottom: 0;
			}
			div.artform_wrap{
				&.disabled{
					& + label{
						color: $cgray;
						cursor: default;
					}
				}
			}
		}
		label,
		input[type="text"]{
			flex: 1;
		}
	}
	&.input_file{
		div.page_name{
			display: flex;
			align-items: center;
			height: 40px;
			padding-left: 35px;
			padding-right: 35px;
			color: $cbase;
			background-color: $clight;
			border: 1px solid $cline;
			border-radius: 5px;
			span{
				margin-right: 10px;
			}
			em{
				color: $cread;
				font-size: 10px;
			}
		}
		a{
			@extend .flex;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 10px;
			top: 10px;
			color: $ccorp;
			z-index: 2;
			svg{
				width: 15px;
				height: 15px;
			}
			&:hover{
				color: $cbase;
			}
			&.view{
				left: auto;
				right: 10px;
				color: $cdanger;
				visibility: hidden;
				opacity: 0;
				&.visible{
					visibility: visible;
					opacity: 1;
				}
				&:hover{
					color: $cread;
				}
			}
			&.view_link{
				left: auto;
				right: 35px;
				color: $ccorp;
				visibility: hidden;
				opacity: 0;
				&.visible{
					visibility: visible;
					opacity: 1;
				}
				&:hover{
					color: $cread;
				}
			}
			&.clear{
				left: auto;
				right: 10px;
				color: $cdanger;
				visibility: hidden;
				opacity: 0;
				&.visible{
					visibility: visible;
					opacity: 1;
				}
				&:hover{
					color: $cread;
				}
			}
		}
		input[type="text"]{
			padding-left: 35px;
			padding-right: 35px;
		}
	}
	&.form_submit{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&.error{
		div.error_message{
			display: block;
		}
		input,
		textarea{
			background-color: transparent;
			border-color: $cdanger;
		}
	}
	div.disabled_field{
		display: flex;
		align-items: center;
		div.artform_wrap{
			margin-right: 10px;
		}
		input{
			flex: 1;
		}
	}
	textarea{
		height: 130px;
	}
}
div.dynamic_form_items{
	div.dynamic_add{
		a{
			height: 30px;
			margin: 0 0 20px;
			padding: 0 12px 0 7px;
			font-size: 11px;
			background-color: $csuccess;
			&:hover{
				background-color: $cbase;
			}
			svg{
				width: 15px;
				height: 15px;
				margin-right: 2px;
			}
		}
	}
	div.ui-state-highlight{
		height: 40px;
		margin-bottom: 5px;
		border: 2px dashed $cgray;
	}
}
div.pagination{
	display: block;
	margin: 40px 0 30px;
	@media(max-width: 768px){
		margin-bottom: 20px;
	}
	ul{
		@extend .flex;
		@extend .no-list;
		@media(max-width: 768px){
			display: none;
		}
		li{
			margin: 0 3px;
			a{
				@extend .flex;
				width: 30px;
				height: 30px;
				color: $cmain;
				font-size: 12px;
				border-radius: 50%;
				svg{
					width: 15px;
				}
			}
			&.active,
			&:hover{
				a{
					color: $cwhite;
					background-color: $ccorp;
				}
			}
		}
	}
	div.mobile{
		display: flex;
		justify-content: space-between;
		a{
			display: none;
			align-items: center;
			justify-content: center;
			float: left;
			width: 40px;
			height: 40px;
			color: $cwhite;
			font-size: 16px;
			text-align: center;
			background-color: $ccorp;
			border-radius: 5px;
			@media(max-width: 768px){
				display: flex;
			}
		}
	}
}
div.add{
	a{
		@extend .flex;
		height: 40px;
		padding: 0 20px 0 12px;
		color: $cwhite;
		font-size: 14px;
		font-family: $ffmain;
		background-color: $csuccess;
		border-radius: 5px;
		&:hover{
			background-color: $cmain;
		}
		svg{
			width: 15px;
			margin-right: 5px;
			object-fit: contain;
		}
		span{
			flex: 1;
		}
		@media(max-width: 1460px){
			padding: 0 15px 0 7px;
			font-size: 12px;
		}
	}
}
a.link{
	background-color: $cwarning;
	&.bump{
		animation: bump 0.2s ease;
	}
	@keyframes bump{
		0%{
			transform: scale(1);
		}
		50%{
			transform: scale(1.3);
		}
		100%{
			transform: scale(1);
		}
	}
	input{
		position: absolute;
		left: 0;
		top: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		font-size: 0;
		background-color: transparent;
		border: none;
		border-radius: 0;
		cursor: default;
		opacity: 0;
	}
}
div.loader{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba($cwhite, 0.95);
	z-index: 999999;
	div.roller{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 64px;
		height: 64px;
		div{
			animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			transform-origin: 32px 32px;
			&:after{
				content: "";
				display: block;
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $cbase;
				margin: -3px 0 0 -3px;
			}
			&:nth-child(1){
				animation-delay: -0.036s;
				&:after{
					top: 50px;
					left: 50px;
				}
			}
			&:nth-child(2){
				animation-delay: -0.072s;
				&:after{
					top: 54px;
					left: 45px;
				}
			}
			&:nth-child(3){
				animation-delay: -0.108s;
				&:after{
					top: 57px;
					left: 39px;
				}
			}
			&:nth-child(4){
				animation-delay: -0.144s;
				&:after{
					top: 58px;
					left: 32px;
				}
			}
			&:nth-child(5){
				animation-delay: -0.18s;
				&:after{
					top: 57px;
					left: 25px;
				}
			}
			&:nth-child(6){
				animation-delay: -0.216s;
				&:after{
					top: 54px;
					left: 19px;
				}
			}
			&:nth-child(7){
				animation-delay: -0.252s;
				&:after{
					top: 50px;
					left: 14px;
				}
			}
			&:nth-child(8){
				animation-delay: -0.288s;
				&:after{
					top: 45px;
					left: 10px;
				}
			}
		}
	}
}
@keyframes roller{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
div.info{
	display: flex;
	padding: 20px;
	margin-bottom: 20px;
	color: $cwhite;
	border-radius: 3px;
	&.bg_info{
		background-color: $cinfo;
	}
	&.bg_warning{
		background-color: $cwarning;
	}
	&.bg_danger{
		background-color: $cdanger;
	}
	&.bg_success{
		background-color: $csuccess;
	}
	svg{
		width: 20px;
	}
	div.info_text{
		flex: 1;
		margin-left: 10px;
		margin-top: 2px;
	}
}
div.ui-datepicker{
	@extend .trans-all-4;
	width: 270px;
	padding: 10px;
	text-align: center;
	background-color: $cwhite;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba($cblack, 0.2);
	table{
		width:100%
	}
	a.ui-datepicker-next,
	a.ui-datepicker-prev{
		@extend .flex;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 0;
		top: 0;
		padding: 10px;
		font-size: 0;
		background-color: $clight;
		border-radius: 50%;
		cursor: pointer;
		z-index: 2;
		&:before{
			display: block;
			position: absolute;
			content: "";
			width: 5px;
			height: 5px;
			transform: rotate(45deg);
			border-left: 1px solid $ccorp;
			border-bottom: 1px solid $ccorp;
			transition: all 0.4s ease;
		}
		span{
			display: none;
		}
		&:hover{
			background-color: $ccorp;
			&:before{
				border-color: $cwhite;
			}
		}
	}
	a.ui-datepicker-next{
		left: auto;
		right: 0;
		&:before{
			transform: rotate(-130deg);
		}
	}
	div.ui-datepicker-header,
	div.ui-datepicker-title{
		@extend .flex;
		height: 25px;
		margin-bottom: 10px;
		select{
			height: 20px;
			font-family: $ffmain;
			&.ui-datepicker-month{
				width: 105px;
				margin-right: 10px;
			}
			&.ui-datepicker-year{
				width: 60px;
			}
		}
	}
	table.ui-datepicker-calendar{
		width: 100%;
		color: $cgray;
		text-align: center;
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			text-align: center;
		}
		th{
			padding: 0 0 10px;
			color: $cmain;
			font-weight: 700;
			text-align: center;
		}
		td{
			vertical-align: center;
			height: 25px;
			a{
				display: block;
				margin: 3px;
				padding: 5px;
				color: $cmain;
				background-color: $clight;
				border-radius: 3px;
				&:hover{
					background-color: $cline;
				}
			}
			&.ui-datepicker-current-day{
				a{
					color: $cwhite;
					background-color: $ccorp;
					&:hover{
						background-color: $cbase;
					}
				}
			}
			&.ui-datepicker-today{
				a{
					color: $cwhite;
					background-color: $cmain;
					&:hover{
						color: $cmain;
						background-color: $cline;
					}
				}
			}
		}
	}
}
nav.tab_list{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	a{
		@extend .flex;
		height: 40px;
		margin: 0 2px;
		padding: 0 20px;
		color: $cmain;
		font-size: 14px;
		font-family: $ffmain;
		text-align: center;
		background-color: transparent;
		border-radius: 5px;
		&:hover{
			background-color: $cline;
		}
		&.active{
			color: $cwhite;
			background-color: $cbase;
		}
	}
}
div.tab_content{
	display: none;
	&.show{
		display: block;
	}
}
div.table_container{
	overflow-x: auto;
	div.table_wrap{
		display: table;
		border-collapse: collapse;
		width: 100%;
		div.table_head,
		div.table_row{
			display: table-row;
			div{
				display: table-cell;
				vertical-align: middle;
				padding: 10px;
				&.center{
					text-align: center;
				}
				svg{
					width: 15px;
				}
			}
		}
		div.table_head{
			background-color: $clight;
			div{
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
		div.table_row{
			border-bottom: 1px solid $cline;
			&:hover{
				background-color: $clight;
			}
		}
	}
}
div.back_to{
	position: absolute;
	left: -50px;
	top: 0;
	a{
		@extend .flex;
		width: 30px;
		height: 30px;
		background-color: $cwhite;
		border-radius: 5px 0 0 5px;
		svg{
			width: 20px;
		}
		&:hover{
			background-color: $ccorp;
			svg{
				color: $cwhite;
			}
		}
	}
}
