/* Color */
$cwhite: #fff;
$cblack: #000;
$cdark: #222;
$cbase: #353535;
$cmain: #777;
$cread: #a3a3a3;
$cgray: #ccc;
$cline: #eee;
$clight: #f8f8f8;
$cprimary: #007bff;
$csecondary: #6c757d;
$cinfo: #5bc0de;
$cwarning: #f0ad4e;
$cdanger: #d9534f;
$csuccess: #5cb85c;
$ccorp: #01579b;
/* Color */

/* Font Family */
$ffbase: "bpgArial";
$ffmain: "gpbMtavruli";
/* Font Family */