div.ui-datepicker{
	@extend .trans-all-4;
	text-align: center;
	table{
		width: 100%;
	}
	a.ui-datepicker-next,
	a.ui-datepicker-prev{
		@extend .flex;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 0;
		top: 0;
		padding: 10px;
		font-size: 0;
		background-color: $cwhite;
		border-radius: $bdrp;
		cursor: pointer;
		z-index: 2;
		&:before{
			display: block;
			position: absolute;
			content: "";
			width: 5px;
			height: 5px;
			transform: rotate(45deg);
			border-left: 1px solid $ccorp;
			border-bottom: 1px solid $ccorp;
		}
		span{
			display: none;
		}
		&:hover{
			background-color: $ccorp;
			&:before{
				border-color: $cwhite;
			}
		}
	}
	a.ui-datepicker-next{
		left: auto;
		right: 0;
		&:before{
			transform: rotate(-130deg);
		}
	}
	div.ui-datepicker-header,
	div.ui-datepicker-title{
		@extend .flex;
		height: 25px;
		margin: 10px 0;
		select{
			height: 20px;
			font-family: $ffmain;
			text-transform: uppercase;
			&.ui-datepicker-month{
				width: 105px;
				margin-right: 10px;
			}
			&.ui-datepicker-year{
				width: 60px;
			}
		}
	}
	div.ui-datepicker-title{
		margin-top: 0;
	}
	table.ui-datepicker-calendar{
		width: 100%;
		margin-bottom: 15px;
		color: $cgray;
		text-align: center;
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			text-align: center;
		}
		th{
			padding: 0 0 10px;
			color: $cmain;
			font-weight: 700;
			text-align: center;
		}
		td{
			vertical-align: center;
			height: 25px;
			a{
				@extend .flex;
				width: 35px;
				height: 35px;
				margin: 5px auto;
				color: $cread;
				border-radius: $bdrp;
				cursor: default;
				@media(max-width: 1400px){
					margin: 2px auto;
				}
			}
			&.event{
				a{
					color: $cwhite;
					background-color: $ccorp;
					cursor: pointer;
					&:hover{
						background-color: $cbase;
					}
				}
			}
			&.ui-datepicker-today{
				a{
					color: $cwhite;
					background-color: $cmain;
					cursor: pointer;
					&:hover{
						color: $cmain;
						background-color: $cline;
					}
				}
			}
		}
	}
	&#ui-datepicker-div{
		padding: 0 15px;
		background-color: $cwhite;
		border-radius: $bdrl;
		box-shadow: 0 10px 20px rgba($cblack, 0.1);
	}
}