div.content{
	div.contact_wrap{
		div.contact_top{
			display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 30px;
			@media(max-width: 768px){
				grid-template-columns: 1fr;
			}
			address{
				h3{
					margin-bottom: 15px;
					font-size: 16px;
					font-family: $ffmain;
					font-weight: 700;
					text-transform: uppercase;
				}
				ul{
					@extend .no-list;
					li{
						display: flex;
						align-items: center;
						margin-bottom: 10px;
						&:last-child{
							margin-bottom: 0;
						}
						em{
							display: flex;
							align-items: flex-start;
							justify-content: center;
							width: 25px;
							margin-right: 10px;
							color: $ccorp;
							font-size: 18px;
						}
						span{
							flex: 1;
							a{
								color: $cbase;
								&:hover{
									color: $ccorp;
								}
							}
						}
					}
				}
			}
			div.contact_form{
				form{
					div.form_item{
						margin-bottom: 20px;
						textarea{
							height: 200px;
						}
						&.contact_form_submit{
							margin-bottom: 0;
						}
					}
				}
			}
		}
		div#map{
			border-radius: $bdrm;
			*{
				transition: none;
			}
		}
	}
}
