div.content{
	div.faq{
		h3{
			margin-bottom: 20px;
			color: $cbase;
			font-size: 18px;
			font-family: $ffmain;
			font-weight: 700;
			text-transform: uppercase;
		}
		ul{
			@extend .no-list;
			margin-bottom: 20px;
			li{
				padding-bottom: 10px;
				padding-left: 5px;
				div.faq_question{
					display: flex;
					padding-bottom: 5px;
					em{
						width: 15px;
						margin-right: 5px;
						color: $ccorp;
						font-size: 15px;
					}
					a{
						flex: 1;
						color: $cbase;
					}
				}
				div.faq_content{
					display: none;
					transition: none;
				}
			}
		}
	}
}