div.content{
	div.gallery_videos{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		@media(max-width: 576px){
			grid-template-columns: 1fr;
		}
		div.video_item{
			a{
				display: block;
				position: relative;
				margin-bottom: 10px;
				border-radius: $bdrm;
				overflow: hidden;
				&:before{
					display: flex;
					content: "\f00a";
					align-items: center;
					justify-content: center;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					color: $cwhite;
					font-size: 55px;
					font-family: $ffremix;
					z-index: 1;
				}
				&:hover{
					&:before{
						opacity: 0.5;
					}
				}
				img{
					width: 100%;
				}
			}
			h3{
				color: $cbase;
				font-family: $ffmain;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}
.mfp-fade.mfp-bg{
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready{
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing{
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content{
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{
	opacity: 0;
}