div.modal_overlay,
div.prompt_overlay{
	//display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($cblack, 0.8);
	cursor: pointer;
	z-index: 1001;
}
div.modal,
div.prompt{
	//display: none;
	position: fixed;
	width: 600px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: $cwhite;
	border-radius: 5px;
	z-index: 1002;
	@media(max-width: 1024px){
		position: absolute;
		top: 100px;
		transform: translateX(-50%);
	}
	@media(max-width: 768px){
		width: 300px;
	}
	@media(max-width: 360px){
		width: 270px;
	}
	div.close{
		@extend .flex;
		position: absolute;
		width: 20px;
		height: 20px;
		top: -20px;
		right: -20px;
		cursor: pointer;
		em{
			color: $cwhite;
			font-size: 20px;
		}
	}
	div.modal_head{
		padding: 20px;
		background-color: $clight;
		border-radius: 5px 5px 0 0;
		@media(max-width: 768px){
			padding: 15px;
		}
		h3{
			font-size: 16px;
			text-align: center;
			@media(max-width: 768px){
				font-size: 14px;
			}
		}
	}
	div.modal_body{
		padding: 30px;
		@media(max-width: 768px){
			padding: 20px;
		}
		div.prompt_actions{
			display: flex;
			justify-content: flex-end;
			@media(max-width: 768px){
				display: block;
			}
			a{
				margin-left: 15px;
				@media(max-width: 768px){
					margin-left: 0;
				}
			}
		}
	}
}