div.content{
	article.news_static{
		div.featured_img{
			margin-bottom: 10px;
			z-index: 1;
			a{
				display: block;
				border-radius: $bdrm;
				overflow: hidden;
				img{
					width: 100%;
				}
			}
		}
		div.page_body{
			margin-bottom: 20px;
			h3.news_title{
				margin-bottom: $bdrm;
				color: $cbase;
				font-size: 22px;
				font-family: $ffmain;
				font-weight: 700;
				text-transform: uppercase;
			}
			div.page_head{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-bottom: 10px;
				time{
					display: flex;
					align-items: center;
					color: $cread;
					font-size: 10px;
					@media(max-width: 360px){
						margin-bottom: $bdrm;
					}
					em{
						margin-right: 5px;
						font-size: 12px;
					}
				}
				div.share{
					ul{
						@extend .no-list;
						display: flex;
						align-items: center;
						li{
							margin-left: 10px;
							&:first-child{
								margin-left: 0;
							}
							a{
								color: $ccorp;
								font-size: 15px;
								&:hover{
									color: $cbase;
								}
							}
						}
					}
				}
			}
			div.page_content{
				@include clearfix;
				ul{
					@extend .no-list;
					margin: 15px 0 15px 15px;
					overflow: hidden;
					li{
						margin-bottom: 3px;
						padding-left: 20px;
						&:before{
							display: block;
							position: absolute;
							content: "\eb7b";
							left: 0;
							top: 3px;
							color: $ccorp;
							font-family: $ffremix;
							font-size: 12px;
						}
					}
				}
				ol{
					@extend .no-list;
					counter-reset: custom_counter;
					margin: 15px 0 15px 15px;
					overflow: hidden;
					li{
						counter-increment: custom_counter;
						margin-bottom: 3px;
						padding-left: 20px;
						&:before{
							display: block;
							position: absolute;
							content: counter(custom_counter) ".";
							left: 0;
							top: 2px;
							color: $cmain;
							font-size: 12px;
						}
					}
				}
			}
		}
		div.page_media{
			h3{
				margin-bottom: 20px;
				padding-bottom: 10px;
				color: $ccorp;
				font-size: 20px;
				font-family: $ffmain;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				border-bottom: 1px solid $cline;
			}
			div.media_items{
				display: grid;
				grid-gap: 20px;
				grid-template-columns: repeat(4, 1fr);
				margin-bottom: 30px;
				@media(max-width: 768px){
					grid-template-columns: repeat(2, 1fr);
				}
				figure{
					a{
						display: block;
						position: relative;
						border-radius: 5px;
						overflow: hidden;
						img{
							width: 100%;
						}
					}
				}
			}
			&.page_photo_gallery{
				div.media_items{
					figure{
						a{
							&:before{
								@extend .flex;
								position: absolute;
								content: "\f2db";
								width: 100%;
								height: 100%;
								left: 0;
								top: 0;
								color: $cbase;
								font-size: 20px;
								font-family: $ffremix;
								background-color: rgba($cwhite, 0.9);
								z-index: 1;
								opacity: 0;
							}
							&:hover{
								&:before{
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.page_video_gallery{
				div.media_items{
					figure{
						a{
							&:before{
								@extend .flex;
								position: absolute;
								content: "\f00a";
								width: 100%;
								height: 100%;
								left: 0;
								top: 0;
								color: $cwhite;
								font-size: 35px;
								font-family: $ffremix;
								font-weight: 300;
								z-index: 1;
							}
							&:hover{
								&:before{
									opacity: 0.5;
								}
							}
						}
					}
				}
			}
			&.page_attachments{
				ul{
					@extend .no-list;
					li{
						a{
							display: grid;
							grid-gap: 10px;
							grid-template-columns: 15px 1fr 15px;
							padding: 15px;
							color: $cmain;
							font-weight: 700;
							&:hover{
								color: $cbase;
							}
							em{
								font-size: 15px;
								font-weight: 400;
							}
						}
						&:nth-child(odd){
							a{
								background-color: $clight;
							}
						}
					}
				}
			}
		}
	}
}