div.pagination{
	margin: 20px 0;
	ul.desktop_pagination{
		@extend .no-list;
		display: flex;
		justify-content: center;
		@media(max-width: 768px){
			display: none;
		}
		li{
			margin: 0 2.5px;
			a{
				@extend .flex;
				min-width: 30px;
				height: 30px;
				padding: 0 10px;
				color: $cmain;
				font-size: 10px;
				background-color: $cwhite;
				border-radius: $bdrm;
				em{
					width: 15px;
					font-size: 15px;
					&:before{
						width: 10px;
						letter-spacing: 0;
					}
				}
			}
			&.active,
			&:hover{
				a{
					color: $cwhite;
					background-color: $ccorp;
				}
			}
		}
	}
	ul.device_pagination{
		@extend .no-list;
		display: none;
		justify-content: space-between;
		margin: 0 15px;
		@media(max-width: 768px){
			display: flex;
		}
		li{
			a{
				@extend .flex;
				width: 40px;
				height: 40px;
				color: $cwhite;
				font-size: 16px;
				text-align: center;
				background-color: $ccorp;
				border-radius: $bdrm;
			}
		}
	}
}