div.poll{
	h3.poll_head{
		margin-bottom: 15px;
		font-size: 14px;
		font-family: $ffmain;
		font-weight: 700;
		text-transform: uppercase;
	}
	form{
		div.poll_answers{
			margin-left: 10px;
			margin-bottom: 15px;
		}
		div.poll_answer{
			display: flex;
			margin-bottom: 15px;
			div.artform_wrap{
				margin-right: 10px;
			}
			label{
				flex: 1;
				padding-top: 1px;
			}
		}
		div.poll_submit{
			margin-bottom: 10px;
		}
		div.poll_viewres{
			text-align: center;
			a{
				color: $ccorp;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
	div.poll_results{
		div.poll_result{
			margin-bottom: 40px;
			h3{
				margin-bottom: 10px;
				font-size: 12px;
				font-weight: normal;
			}
			div.poll_result_track{
				height: 1px;
				background-color: $clight;
				div{
					height: 100%;
					background-color: $ccorp;
					span{
						@extend .flex;
						position: absolute;
						height: 20px;
						left: 100%;
						bottom: -25px;
						padding: 0 8px;
						color: $cwhite;
						font-size: 10px;
						text-align: center;
						background-color: $ccorp;
						border-radius: $bdrs;
					}
				}
			}
		}
		h3.poll_total{
			margin: 0 0 15px 5px;
			color: $cmain;
			font-size: 12px;
		}
		div.back_to_poll{
			display: flex;
			justify-content: center;
			&:before{
				display: block;
				content: "\ea64";
				margin-right: 10px;
				font-size: 16px;
				font-family: $ffremix;
			}
			a{
				color: $ccorp;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
}