div.rights{
	margin-bottom: 20px;
	color: $cread;
	text-align: center;
}
div.artmedia{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	a{
		svg{
			width: 40px;
			height: 48.65px;
			path{
				fill: $cblack;
				&.eye{
					fill: $ccorp;
				}
			}
		}
		&:hover{
			svg{
				path{
					fill: $ccorp;
				}
			}
		}
	}
}