div.modal_search{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 1001;
	div.close{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		right: 20px;
		cursor: pointer;
		z-index: 3;
		&:before,
		&:after{
			display: block;
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%) rotate(45deg);
			background-color: $cwhite;
			border-radius: 3px;
			transition: all 0.4s ease;
		}
		&:after{
			transform: translate(-50%,-50%) rotate(-45deg);
		}
		&:hover{
			&:before,
			&:after{
				width: 80%;
				height: 3px;
			}
		}
	}
	div.search_wrap{
		@extend .flex;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		div.search_overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba($ccorp, 0.7);
			cursor: pointer;
			z-index: 1;
		}
		form{
			@extend .trans-all-4;
			z-index: 2;
			input[type="search"]{
				width: 40vw;
				height: 5vw;
				padding-left: 2vw;
				padding-right: 4vw;
				font-size: 1.5vw;
				background-color: $cwhite;
				border: none;
				border-radius: $bdrl;
				@media(max-width: 768px){
					width: 280px;
					height: 40px;
					padding-left: 15px;
					padding-right: 35px;
					font-size: 12px;
				}
				&::placeholder{
					color: $cread;
					font-size: 1.5vw;
					@media(max-width: 768px){
						font-size: 12px;
					}
				}
			}
			button[type="submit"]{
				position: absolute;
				top: 50%;
				right: 1.5vw;
				transform: translateY(-50%);
				color: $ccorp;
				font-size: 2vw;
				cursor: pointer;
				@media(max-width: 768px){
					font: 15px;
					font-size: 20px;
				}
				&:hover{
					color: $cread;
				}
			}
		}
	}
}
div.search_results{
	div.search_head{
		display: grid;
		grid-gap: 15px;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 15px;
		padding-bottom: 20px;
		border-bottom: 1px solid $cline;
		@media(max-width: 768px){
			grid-template-columns: 100%;
		}
		div.search_texts{
			div.search_keyword{
				margin-bottom: 5px;
				color: $cbase;
				span{
					color: $cread;
				}
			}
		}
		div.search_form{
			form{
				display: flex;
				input[type="search"]{
					flex: 1;
					border-radius: $bdrm $bdrn $bdrn $bdrm;
				}
				button[type="submit"]{
					@extend .flex;
					width: 45px;
					height: 45px;
					border-radius: $bdrn $bdrm $bdrm $bdrn;
				}
			}
		}
	}
	article{
		padding: 20px;
		border-bottom: 1px solid $cline;
		h3.search_title{
			margin-bottom: 5px;
			font-size: 20px;
			font-family: $ffmain;
			font-weight: 700;
			text-transform: uppercase;
			@media(max-width: 992px){
				font-size: 18px;
			}
			@media(max-width: 768px){
				font-size: 16px;
			}
			a{
				display: block;
				color: $cmain;
				&:hover{
					color: $cbase;
				}
				span.search_highlight{
					color: $cdanger;
				}
			}
		}
		div.search_desc{
			color: $cread;
			span.search_highlight{
				color: $cdanger;
			}
		}
		&:hover{
			background-color: $clight;
			div.search_desc{
				color: $cmain;
			}
		}
	}
}