div.see_all{
	display: flex;
	justify-content: center;
	margin: 20px 0;
	a{
		@extend .flex;
		height: 35px;
		padding: 0 20px;
		color: $cwhite;
		font-family: $ffmain;
		text-transform: uppercase;
		background-color: $ccorp;
		border-radius: $bdrm;
		&:hover{
			background-color: $cmain;
		}
	}
}