div.sitemap{
	> ul{
		@extend .no-list;
		column-count: 5;
		@media(max-width: 992px){
			column-count: 3;
		}
		@media(max-width: 768px){
			column-count: 2;
		}
		@media(max-width: 576px){
			column-count: 1;
		}
		> li{
			margin-bottom: 10px;
			> a{
				display: block;
				color: $ccorp;
				font-size: 14px;
				font-family: $ffmain;
				font-weight: 700;
				text-transform: uppercase;
			}
			&:hover{
				> a{
					color: $cbase;
				}
			}
			ul{
				margin-left: 20px;
				margin-top: 5px;
				li{
					margin-bottom: 10px;
					a{
						display: flex;
						color: $cmain;
						&:before{
							display: block;
							content: "";
							width: 10px;
							height: 1px;
							margin-top: 10px;
							margin-right: 10px;
							background-color: $cread;
						}
					}
					&:hover{
						> a{
							color: $cbase;
						}
					}
				}
			}
		}
	}
}