header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid $cgray;
	@media(max-width: 1200px){
		padding-top: 30px;
		padding-bottom: 25px;
	}
	@media(max-width: 768px){
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 15px;
	}
	h1.title{
		display: flex;
		align-items: flex-start;
		margin-right: 15px;
		color: $cmain;
		font-size: 26px;
		font-family: $ffmain;
		font-weight: 700;
		line-height: 1.2;
		@media(max-width: 1200px){
			padding-left: 70px;
		}
		@media(max-width: 768px){
			margin-bottom: 25px;
			font-size: 22px;
		}
		figure{
			svg{
				margin-top: 3px;
				margin-right: 10px;
				stroke: $cmain;
				stroke-width: 3px;
				@media(max-width: 768px){
					width: 20px;
					margin-top: 1px;
				}
			}
		}
		span{
			display: flex;
			svg{
				margin: 3px 5px 0;
				stroke: $cmain;
				stroke-width: 3px;
				@media(max-width: 768px){
					width: 20px;
					margin-top: 1px;
				}
			}
		}
	}
	div.header_tools{
		ul{
			@extend .no-list;
			display: flex;
			align-items: center;
			li{
				margin-left: 15px;
				&:first-child{
					margin-left: 0;
				}
				a{
					@extend .flex;
					width: 30px;
					height: 30px;
					svg{
						width: 20px;
					}
				}
				&.to_site{
					a{
						color: $csuccess;
					}
				}
				&.help{
					a{
						color: $cwarning;
					}
				}
				&.logout{
					a{
						color: $cdanger;
					}
				}
				&:hover{
					a{
						color: $cread;
					}
				}
			}
		}
	}
}