div.help{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 250px 1fr;
	align-items: start;
	@media(max-width: 992px){
		grid-template-columns: 1fr;
	}
	nav{
		position: sticky;
		top: 20px;
		&.widget.medium{
			box-shadow: 0 0 25px rgba(#000,.05);
		}
		@media(max-width: 992px){
			margin-bottom: 0;
		}
		ul{
			@extend .no-list;
			li{
				border-bottom: 1px solid $clight;
				a{
					display: block;
					padding: 10px 10px 10px 13px;
					color: $cmain;
				}
				&.active,
				&:hover{
					a{
						color: $cbase;
						background-color: $clight;
					}
				}
			}
		}
	}
	div.help_content{
		h2{
			margin-bottom: 10px;
			padding-bottom: 5px;
			font-size: 20px;
			font-family: $ffmain;
			font-weight: 700;
			border-bottom: 1px solid $cline;
		}
		h3{
			margin-bottom: 15px;
			padding-bottom: 5px;
			font-size: 16px;
			font-family: $ffmain;
			font-weight: 400;
			border-bottom: 1px dashed $cline;
		}
		img{
			width: 100%;
		}
		svg{
			width: 15px;
			height: 15px;
			color: #ccc;
		}
		.section{
			margin-bottom: 50px;
		}
	}
}
