.menu_tree{
	overflow: hidden;
	@media(max-width: 576px){
		overflow: scroll;
	}
	#width_definer{
		@media(max-width: 576px){
			position: absolute;
			width: 506px;
			left: 0;
			top: 0;
		}
	}
	ul.space{
		@extend .no-list;
		@media(max-width: 992px){
			top: 80px;
			padding-bottom: 80px;
		}
		&:not(.is-sortable) > li,
		&.sort-flat > li {
			margin-bottom: 10px;
		}
		> li{
			display: block;
			.item{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 50px;
				padding: 0 20px;
				background-color: $clight;
				border: 1px solid $cline;
				border-radius: 5px;
				&:hover{
					border-color: $cgray;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
			&.drop-place{
				height: 50px;
				margin-bottom: 5px;
				border: 2px dashed $cgray;
			}
			@media(max-width: 992px){
				flex-direction: column;
				align-items: flex-start;
				height: 80px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.actions{
				display: flex;
				align-items: center;
				margin-top: 2px;
				margin-right: 10px;
				svg{
					width: 15px;
					height: 100%;
					color: $cmain;
				}
				button{
					cursor: pointer;
					&:not(:last-child){
						margin-right: 8px;
					}
					&.is-collapsed{
						transform: rotate(180deg);
					}
					&.is-disabled{
						opacity: .3;
						pointer-events: none;
					}
				}
				em{
					cursor: pointer;
				}
			}
			.list_id{
				position: absolute;
				width: 30px;
				left: -17px;
				top: -8px;
				color: $cread;
				font-size: 10px;
				text-align: center;
			}
			.menu_title{
				flex-grow: 1;
				svg{
					width: 15px;
					margin-right: 7px;
					color: $ccorp;
				}
				span{
					a{
						color: $cbase;
						transition: color 0.2s ease;
						&:hover{
							color: $ccorp;
						}
					}
				}
			}
			.menu_links_types{
				ul{
					@extend .no-list;
					@extend .trans-all-4;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					@media(max-width: 992px){
						flex-wrap: wrap;
						flex-direction: row-reverse;
					}
					li{
						display: flex;
						align-items: center;
						margin-left: 10px;
						color: $cmain;
						@media(max-width: 992px){
							margin-left: 0;
							margin-right: 10px;
						}
						&:first-child{
							margin-left: 0;
						}
						&:last-child{
							@media(max-width: 992px){
								margin-right: 0;
							}
						}
						svg{
							width: 15px;
							height: 15px;
							color: $cgray;
						}
						a{
							@extend .flex;
							width: 20px;
							height: 20px;
							&.visible{
								svg{
									color: $csuccess;
								}
							}
							&.hidden{
								svg{
									color: $csecondary;
								}
							}
						}
						&.page{
							a{
								svg{
									color: $cmain;
								}
							}
						}
						&.copy_link{
							a{
								background-color: transparent;
								svg{
									color: $cprimary;
								}
							}
						}
						&.sub_menu{
							a{
								svg{
									color: $cinfo;
								}
							}
						}
						&.edit{
							a{
								svg{
									color: $cwarning;
								}
							}
						}
						&.delete{
							a{
								svg{
									color: $cdanger;
								}
							}
						}
						&:hover{
							a{
								svg{
									color: $cbase;
								}
							}
						}
						&.type{
							width: 100px;
							@media(max-width: 992px){
								width: auto;
								margin-right: 10px;
							}
						}
						&.position{
							width: 50px;
							@media(max-width: 992px){
								width: auto;
								margin-right: 10px;
							}
						}
					}
				}
			}
			ul{
				margin: 0 0 0 40px;
				padding-top: 10px;
				flex: 1 0 100%;
				@media(max-width: 992px){
					margin: 0 0 0 20px;
				}
				&.space{
					&:after{
						position: absolute;
						top: 10px;
						left: -38px;
						width: 1px;
						height: calc(100% - 20px);
						background: #f3f3f3;
						content: '';
					}
				}
			}
		}
		&.settings{
			li{
				.menu_title{
					display: flex;
					@media(max-width: 768px){
						flex-direction: column;
						margin-bottom: 5px;
					}
					span.settigs_key{
						width: 200px;
						margin-right: 20px;
						@media(max-width: 768px){
							width: auto;
							margin-bottom: 5px;
						}
						strong{
							padding: 3px 8px;
							color: $cwhite;
							font-weight: 400;
							background-color: $cmain;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}
	> ul.space{
		margin-left: 0;
		top: 0;
	}
	.save_menu{
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		@media(max-width: 992px){
			justify-content: center;
		}
		button{
			margin: 0 0 20px;
		}
	}
}
nav.tree_menu{
	*{
		transition: none;
	}
	> ul{
		@extend .no-list;
		> li{
			.tree_item{
				display: flex;
				.artform_wrap{
					margin-right: 10px;
				}
				label{
					flex: 1;
					margin: 0;
				}
			}
			ul{
				@extend .no-list;
				margin-left: 20px;
				li{
					position: relative;
					margin: 10px 0;
					&:before{
						display: block;
						position: absolute;
						content: "";
						width: 10px;
						height: 1px;
						left: 0;
						top: 15px;
						transition: all 0.4s ease;
						opacity: 0.5;
					}
					ul{
						margin-left: 20px;
					}
				}
			}
			span.tree_indicator{
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				top: 0;
				left: -20px;
				cursor: pointer;
				&:before,
				&:after{
					display: block;
					position: absolute;
					content: "";
					width: 13px;
					height: 1px;
					left: 0;
					top: 50%;
					background-color: $ccorp;
					transition: all 0.4s ease;
				}
				&.tree_plus{
					&:after{
						transform: rotate(90deg);
					}
				}
			}
			&.active{
				ul{
					display: block;
				}
			}
		}
	}
}
