div.page_inside{
	display: flex;
	align-items: flex-start;
	@media(max-width: 768px){
		flex-direction: column;
	}
	div.kemosabe{
		margin-left: 5px;
	}
	div.page_widget{
		margin-bottom: 20px;
		padding: 0 0 20px;
		background-color: $cwhite;
		border-radius: 5px;
		box-shadow: 0 10px 25px rgba($cblack, 0.05);
		h2.title{
			display: flex;
			margin-bottom: 15px;
			padding: 15px;
			font-size: 14px;
			font-family: $ffmain;
			font-weight: 400;
			box-shadow: 0 10px 25px rgba($cblack, 0.05);
			z-index: 2;
			> svg{
				width: 18px;
				margin-right: 7px;
				color: $ccorp;
			}
			span{
				flex: 1;
				padding-top: 1px;
			}
			strong{
				position: absolute;
				width: 20px;
				height: 20px;
				top: 17px;
				right: 15px;
				u.trigger{
					@extend .flex;
					width: 20px;
					height: 20px;
					background-color: $ccorp;
					border-radius: 50%;
					cursor: pointer;
					&:hover{
						background-color: $cbase;
					}
					svg{
						width: 13px;
						height: 13px;
						color: $cwhite;
					}
					&.rotated{
						transform: rotate(45deg);
					}
				}
				u.langs{
					display: flex;
					flex-direction: column;
					align-items: center;
					position: absolute;
					width: 20px;
					top: 130%;
					left: 50%;
					transform: translateX(-50%);
					transition: all 0.4s ease;
					visibility: hidden;
					opacity: 0;
					a{
						display: block;
						height: 20px;
						margin-bottom: 5px;
						border-radius: 50%;
						overflow: hidden;
						padding: 3px;
						background-color: $cgray;
						border-radius: 50%;
						img{
							border-radius: 50%;
						}
						&:last-child{
							margin-bottom: 0;
						}
						img{
							width: 100%;
						}
					}
					&.visible{
						top: 115%;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
		div.widget_content{
			margin: 0 15px;
			&.uploaded_files{
				div.add_media{
					margin-bottom: 15px;
					a{
						display: inline-flex;
						transition: all 0.4s ease;
					}
				}
				h3.sub_title{
					margin-left: 10px;
					font-size: 14px;
					font-family: $ffmain;
					font-weight: 700;
					margin-bottom: 10px;
				}
				ul{
					@extend .no-list;
					display: grid;
					grid-gap: 15px;
					grid-template-columns: repeat(8, calc(12.5% - 13px));
					margin-bottom: 20px;
					@media(max-width: 1800px){
						grid-template-columns: repeat(6, calc(16.5% - 11px));
					}
					@media(max-width: 1480px){
						grid-template-columns: repeat(4, calc(25% - 12px));
					}
					@media(max-width: 768px){
						grid-template-columns: repeat(3, calc(33% - 8px));
					}
					@media(max-width: 576px){
						grid-template-columns: repeat(2, calc(50% - 7.5px));
					}
					li{
						@extend .trans-all-4;
						padding: 5px 5px 10px;
						figure{
							margin-bottom: 10px;
							padding-top: 75%;
							overflow: hidden;
							border-radius: 3px;
							img{
								position: absolute;
								left: 50%;
								top: 50%;
								max-height: 100%;
								transform: translate(-50%, -50%);
							}
							svg{
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
								color: $cread;
								opacity: 0;
							}
						}
						div.link_edit_delete{
							display: flex;
							position: absolute;
							top: 20px;
							right: 20px;
							opacity: 0;
							@media(max-width: 576px){
								top: 15px;
								right: 15px;
							}
							a{
								@extend .flex;
								margin-left: 5px;
								width: 20px;
								height: 20px;
								color: $cwhite;
								border-radius: 50%;
								&:first-child{
									margin-left: 0;
								}
								&.edit{
									background-color: $ccorp;
								}
								&.delete{
									background-color: $cdanger;
								}
								&:hover{
									background-color: $cbase;
								}
								svg{
									width: 10px;
									height: 10px;
								}
							}
						}
						div.uploaded_title_wrap{
							padding: 0 5px;
							color: $cmain;
							font-size: 10px;
						}
						&:hover{
							/* figure{
								img{
									opacity: 0.1;
								}
								svg{
									opacity: 1;
								}
							} */
							div.link_edit_delete{
								opacity: 1;
							}
						}
						&.ui-selected{
							box-shadow: 0px 0px 0px 3px $ccorp;
							figure{
								img{
									opacity: 0.1;
								}
								svg{
									color: $ccorp;
									opacity: 1;
								}
							}
						}
						&.ui-state-highlight{
							padding-top: 75%;
							margin-bottom: 5px;
							border: 2px dashed $cgray;
						}
					}
				}
			}
			div.langs_list{
				ul{
					@extend .no-list;
					display: flex;
					flex-wrap: wrap;
					li{
						margin: 10px 7px;
						opacity: 0.3;
						a{
							@extend .flex;
							width: 35px;
							height: 35px;
							background-color: $cwhite;
							border-radius: 50%;
							box-shadow: 0 5px 25px rgba($cblack, 0.2);
							img{
								width: 25px;
								border-radius: 50%;
							}
						}
						&.active,
						&:hover{
							opacity: 1;
						}
					}
				}
			}
			div.featured_image{
				figure{
					div.featured_image_links{
						display: flex;
						position: absolute;
						top: 10px;
						right: 10px;
						z-index: 2;
					}
					a{
						@extend .flex;
						width: 20px;
						height: 20px;
						margin-left: 10px;
						color: $cwhite;
						border-radius: 50%;
						&:first-child{
							margin-left: 0;
						}
						&.edit{
							background-color: $cwarning;
						}
						&.delete{
							background-color: $cdanger;
						}
						&:hover{
							background-color: $cbase;
						}
						svg{
							width: 10px;
							height: 10px;
						}
					}
					img{
						width: 100%;
						border-radius: 5px;
					}
				}
			}
			div.select_menu{
				@extend .trans-no-all;
				max-height: 250px;
				margin-bottom: 10px;
				ul{
					@extend .no-list;
					padding: 15px;
					li{
						@extend .trans-all-4;
						margin-bottom: 10px;
						div.form_checkbox{
							display: flex;
							label{
								flex: 1;
								margin: 0;
								padding-top: 2px;
							}
							div.artform_wrap{
								margin-right: 7px;
								&.disabled{
									& + label{
										color: $cgray;
										cursor: default;
									}
								}
							}
						}
						ul{
							margin: 10px 0 10px 10px;
							padding: 0 0 0 15px;
							border-left: 1px solid $cline;
						}
					}
				}
			}
			div.single_link{
				a{
					width: 100%;
				}
			}
			div.meta_description{
				textarea{
					height: 150px;
				}
			}
		}
	}
	div.page_inside_left{
		flex: 1;
		@media(max-width: 768px){
			width: 100%;
		}
		div.page_editor{
			margin-bottom: 20px;
			textarea{
				height: 400px;
			}
			div.mce-tinymce{
				padding: 10px;
				border: 1px solid $cline;
				border-radius: 5px;
				box-shadow: 0 10px 25px rgba($cblack, 0.05);
				box-sizing: border-box;
				div.mce-top-part{
					&:before{
						box-shadow: none;
					}
					div.mce-panel{
						border-bottom: 1px solid transparent;
					}
				}
			}
		}
	}
	div.page_inside_right{
		width: 280px;
		margin-left: 20px;
		@media(max-width: 768px){
			width: 100%;
			margin-left: 0;
		}
		div.form_submit{
			margin-bottom: 20px;
			button{
				width: 100%;
				margin: 0;
			}
		}
		div.page_date{
			display: grid;
			grid-gap: 10px;
			grid-template-columns: calc(50% - 5px) calc(50% - 5px);
			margin-bottom: 20px;
			svg{
				position: absolute;
				left: 13px;
				top: 8px;
				width: 15px;
				color: $ccorp;
			}
			div.date{
				input{
					padding-left: 35px;
				}
			}
			div.time{
				display: grid;
				grid-template-columns: 50% 10% 40%;
				input{
					text-align: center;
					&.hour{
						padding-left: 30px;
					}
				}
				div{
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}