// Tags
body{
	color: $cbase;
	font-size: 14px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba($cblack, 0);
}
a{
	color: $ccorp;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $cbase;
	}
	&:focus{
		color: $ccorp;
	}
}
// Map
div.map{
	width: 100%;
	height: 400px;
}
// Map
// SVG Stroke ანიმაციისთვის
svg.dashed{
	fill: none;
	path{
		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:hover{
		path{
			stroke-dashoffset: 0 !important;
		}
	}
}
// SVG Stroke ანიმაციისთვის
// Contact validation
div.big_error{
	margin-bottom: 10px;
	padding: 10px 15px;
	color: $cwhite;
	font-size: 10px;
	background-color: $cdanger;
	border-radius: $bdrm;
}
// Contact validation
// Socials
div.socials{
	ul{
		@extend .no-list;
		display: flex;
		li{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				@extend .flex;
				width: 20px;
				height: 20px;
				color: $ccorp;
				font-size: 15px;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
}
// Socials
// Container
div.container{
	width: 1260px;
	margin: 0 auto;
	@media(max-width: 1440px){
		width: 1200px;
	}
	@media(max-width: 1366px){
		width: 1100px;
	}
	@media(max-width: 1280px){
		width: 970px;
	}
	@media(max-width: 1024px){
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}
// Container

div.modes{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 20;
	div{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		margin-bottom: 5px;
		background-color: $ccorp;
		border-radius: 5px 0px 0px 5px;
		z-index: 20;
		&:last-child{
			margin-bottom: 0;
		}
		em{
			color: $cwhite;
			font-size: 20px;
		}
	}
}

div.fixed_feedback{
	@extend .trans-all-4;
	position: fixed;
	left: 80px;
	bottom: 0;
	a{
		@extend .firago;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 40px;
		color: $cwhite;
		font-size: 14px;
		background-color: $ccorp;
		border-radius: 5px 5px 0px 0px;
		em{
			margin-right: 10px;
			font-size: 20px;
		}
		&:hover{
			background-color: rgba($ccorp, 0.9);
		}
	}
}

div.fixed_right{
	position: fixed;
	right: 20px;
	bottom: 20px;
	div.fixed_links{
		margin-bottom: 140px;
		div.fixed_link{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 60px;
				background-color: $cwhite;
				border-radius: 50%;
				box-shadow: 0px 30px 50px rgba($cblack, 0.15);
			}
			h3{
				@extend .firago;
				display: none;
				margin-right: 10px;
				padding: 8px 15px;
				color: $cwhite;
				font-size: 12px;
				font-weight: normal;
				background-color: $ccorp;
				border-radius: 50px;
			}
		}
	}
	div.popup_widget{
		display: flex;
		align-items: center;
		position: absolute;
		width: 170px;
		height: 110px;
		right: 0;
		bottom: 0;
		text-align: center;
		background-color: $cgreen;
		border-radius: 5px;
		div.close{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 20px;
			height: 20px;
			top: -7px;
			right: -7px;
			background-color: $cwhite;
			border-radius: 50%;
			border: 2px solid $cgreen;
			em{
				color: $cgreen;
				font-size: 16px;
				cursor: pointer
			}
		}
		div.widget_items{
			h3{
				@extend .firago;
				margin-bottom: 5px;
				color: $cwhite;
				font-size: 16px;
				font-weight: 700;
			}
			div.widget_desc{
				color: $cwhite;
				font-size: 12px;
				font-family: $ffbase;
				font-weight: normal;
			}
		}
	}
}

section{
	&.title{
		margin-bottom: 55px;
		@media(max-width: 1280px){
			margin-bottom: 45px;
		}
		@media(max-width: 1024px){
			margin-bottom: 40px;
		}
		h1{
			@extend .firago;
			padding: 0 17vw;
			color: $cbase;
			text-align: center;
			font-size: 26px;
			font-weight: 700;
			@media(max-width: 1280px){
				font-size: 24px;
			}
			@media(max-width: 1024px){
				font-size: 22px;
			}
			@media(max-width: 992px){
				font-size: 20px;
			}
			@media(max-width: 768px){
				font-size: 18px;
			}
			&:before{
				position: absolute;
				content: "";
				width: 40px;
				height: 1px;
				left: 50%;
				bottom: -12px;
				transform: translateX(-50%);
				background-color: $ccorp;
			}
		}
	}
}

div.contact_mp_link{
	a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 250px;
		height: 50px;
		background-color: rgba($ccorp, 0.1);
		border-radius: 5px;
		transition: all .4s;
		em{
			margin-right: 10px;
			font-size: 18px;
			transition: all .4s;
		}
		span{
			@extend .firago;
			color: $cbase;
			font-size: 14px;
			font-weight: 700;
			transition: all .4s;
		}
		&:hover{
			background-color: rgba($ccorp, 1);
			transition: all .4s;
			span{
				color: $cwhite;
				transition: all .4s;
			}
			em{
				color: $cwhite;
				transition: all .4s;
			}
		}
	}
}

.mb{
	margin-bottom: 15vw;
}