section.main_nav{
    padding-bottom: 10vw;
    div.container{
        div.nav_items{
            display: grid;
            grid-gap: 60px;
            grid-row-gap: 70px;
            grid-template-columns: repeat(3, 1fr);
            @media(max-width: 1440px){
                grid-gap: 50px;
                grid-row-gap: 60px;
            }
            @media(max-width: 1366px){
                grid-gap: 40px;
                grid-row-gap: 50px;
            }
            @media(max-width: 1280px){
                grid-gap: 30px;
                grid-row-gap: 40px;
            }
            @media(max-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }
            @media(max-width: 576px){
                grid-template-columns: 1fr;
            }
            div.nav_item{
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 240px;
                    padding: 0 25px;
                    background-color: $cwhite;
                    border-radius: 10px;
                    box-shadow: 0px 30px 50px rgba($cblack, 0.05);
                    img{
                        margin-bottom: 20px;
                    }
                    strong{
                        @extend .firago;
                        color: $cbase;
                        text-align: center;
                        font-size: 22px;
                        line-height: 1.2;
                        @media(max-width: 1440px){
                            font-size: 20px;
                        }
                        @media(max-width: 1280px){
                            font-size: 18px;
                        }
                        @media(max-width: 1024px){
                            font-size: 16px;
                        }
                    }
                    &:hover{
                        strong{
                            color: $ccorp;
                        }
                    }
                }
            }
        }
    }
}