header{
    div.header_top{
        margin-bottom: 35px;
        padding: 30px 0;
        background-color: $ccorp;
        div.container{
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr 1fr;
            @media(max-width: 992px){
                grid-template-columns: 1fr;
            }
            div.header_top_left{
                @media(max-width: 992px){
                    order: 2;
                    margin-bottom: 20px;
                }
                div.search{
                    margin-bottom: 30px;
                    form{
                        input{
                            width: 100%;
                            height: 45px;
                            padding: 0 15px;
                            color: $cwhite;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid rgba($cline, 0.5);
                            border-radius: 0;
                            &::placeholder{
                                color: rgba($cline, 0.5);
                            }
                            &:focus{
                                border-bottom: 1px solid rgba($cline, 1);
                            }
                        }
                        button{
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                            em{
                                color: rgba($cline, 0.5);
                                font-size: 20px;
                            }
                            &:hover{
                                em{
                                    color: rgba($cline, 1);
                                }
                            }
                        }
                    }
                }
                h3{
                    display: flex;
                    color: $ctext;
                    font-size: 14px;
                    font-family: $ffbase;
                    font-weight: 400;
                    @media(max-width: 992px){
                        justify-content: center;
                    }
                    em{
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
            }
            div.logo{
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 992px){
                    order: 1;
                }
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        @media(max-width: 992px){
                            width: 70%;
                        }
                        @media(max-width: 768px){
                            width: 55%;
                        }
                    }
                    span{
                        @extend .firago;
                        text-align: center;
                        margin-top: 10px;
                        padding: 0 7vw;
                        color: rgba($clight2, 0.7);
                        font-size: 18px;
                        @media(max-width: 992px){
                            font-size: 14px;
                        }
                    }
                }
            }
            div.header_top_right{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                @media(max-width: 992px){
                    order: 3;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                @media(max-width: 414px){
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                div{
                    margin-bottom: 18px;
                    @media(max-width: 992px){
                        margin-right: 15px;
                    }
                    @media(max-width: 414px){
                        margin-bottom: 15px;
                    }
                    &:last-child{
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                    &.sca{
                        padding: 0 10px 5px;
                        border-bottom: 1px solid rgba($cline, 0.5);
                        a{
                            color: $ctext;
                            font-size: 14px;
                            font-family: $ffbase;
                            font-weight: 700;
                        }
                    }
                    &.socials{
                        padding: 0 10px;
                        ul{
                            li{
                                a{
                                    color: $ctext;
                                    em{
                                        font-size: 20px;
                                    }
                                    &:hover{
                                        color: $cdark;
                                    }
                                }
                            }
                        }
                    }
                    &.live{
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 30px;
                            color: $ctext;
                            font-family: $ffbase;
                            font-weight: 700;
                            background-color: $cdanger;
                            border-radius: 5px;
                            em{
                                margin-right: 10px;
                                font-size: 20px;
                            }
                            &:hover{
                                background-color: rgba($cdanger, 0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}