article.static{
	padding: 0 15%;
    div.static_desc{
        display: grid;
        grid-gap: 20px;
        margin-bottom: 20px;
        color: $cbase;
        font-size: 16px;
        font-family: $ffbase;
        font-weight: 400;
    }
	@media(max-width: 1024px){
		padding: 0 10%;
		font-size: 14px;
	}
	@media(max-width: 576px){
		padding: 0;
	}
}