div.who_to_contact{
    div.container{
        div.contact_selecors{
            display: flex;
            margin-bottom: 40px;
            select{
                width: 190px;
            }
            span{
                &.select2-container{
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        div.contact_table{
            overflow: auto;
            div.contact_table_head{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 14px;
                padding: 0 30px;
                min-width: 1260px;
                div{
                    h2{
                        color: $cbase;
                        font-size: 14px;
                        font-family: $ffbase;
                        font-weight: 400;
                    }
                }
            }
            div.contact_table_body{
                min-width: 1260px;
                div.contact_mp_item{
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(4, 1fr);
                    height: 80px;
                    margin-bottom: 20px;
                    padding: 0 30px;
                    background-color: $cwhite;
                    border-radius: 5px;
                    box-shadow: 0px 30px 50px rgba($cblack, 0.05);
                    &:last-child{
                        margin-bottom: 0;
                    }
                    div{
                        h3{
                            color: $cbase;
                            font-size: 16px;
                            font-family: $ffbase;
                            font-weight: 700; 
                            @media(max-width: 1440px){
                                font-size: 14px;
                            }
                        }
                        &:last-child{
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}